<ion-view view-title="Items">
  <ion-content>
    <div ng-repeat="i in items" class="card">
      <div class="item item-divider item-button-right">
        {{i.name}}
        <a class="button" ng-show="isManager" ng-href="#/tab/items/{{i.itemId}}" >
          <i class="icon ion-edit"></i>
        </a>
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input">
            <span class="input-label">Weight</span>
            <span> {{i.weight}} </span>
          </label>
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input">
            <span class="input-label">Humidity</span>
            <span> {{i.humidity}} </span>
          </label>
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input">
            <span class="input-label">Temperature</span>
            <span> {{i.temperature}} </span>
          </label>
      </div>
      <div class="item item-text-wrap">
          <label class="item item-input">
            <span class="input-label">Price</span>
            <span> {{i.price}} </span>
          </label>
      </div>
    </div>

    <h2 ng-show="hasError">{{error}}</h2>
  </ion-content>
</ion-view>